.header {
  width: 100%;
  height: rem(60px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);

  @media (min-width: em(750px)) {
    border-right: 1px solid
      light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    width: rem(300px);
  }
}

.headerOpened {
  width: 100%;
  height: rem(60px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}
